# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Data (Protecting large DNA samples)
raw_data/
*.txt
*.vcf

# Database
*.db

# OS
.DS_Store
Thumbs.db

*.tsv
*.zip

Beeja_Genetic_Master_Architecture.md
beeja_genetic_kaggle_writeup.md
